<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-package-json-guard" version="2.0.0">
  <name>Package.json Guard</name>
  <description>Fix line feed issue (cordova-cli/issues/394) for package.json after cordova build, just install it.</description>
  <license>MIT</license>
  <hook src="dist/index.js" type="after_prepare" />
  <hook src="dist/index.js" type="after_platform_add" />
  <hook src="dist/index.js" type="after_plugin_add" />
  <hook src="dist/index.js" type="after_plugin_rm" />
</plugin>
